  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 {{'text'|translate}}">
          <h6>{{'about' | translate}}</h6>
          <p class="text-justify">
           {{'footertext' | translate}}
        </p>
        </div>

        <div class="col-xs-6 col-md-3 {{'text'|translate}}">
          <h6>{{'Categories' | translate}}</h6>
          <ul class="footer-links">
            <li>
                {{'Fitness' | translate}}
            </li>
            
           <li>
            {{'Skill' | translate}}

            </li>

            <li>
                {{'Muscles' | translate}} 
            </li>

            <li>
                {{'agility' | translate}}
            </li>

            <li>
                {{'Arduous training' | translate}}

            </li>

            <li>
                {{'softness'| translate}}
            </li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 {{'text'|translate}}">
          <h6>{{'Quick Links' | translate}}</h6>
          <ul class="footer-links">
            <li>{{'about' | translate}}</li>
            <li>{{'contact us' | translate}}</li>
            <li>{{'Contribute' | translate}}</li>
            <li>{{'Privacy Policy' | translate}}</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12 {{'text'|translate}}">
          <p class="copyright-text">{{'Copyright' | translate}} &copy; {{'2020 All Rights Reserved by goldes gym.' | translate}}
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>