<!-- background -->
<div class="bg">
    <div class="overlay">
    <h2>{{'goldes gym for your health and Your fitness' | translate}}</h2>
    <h3>{{'For Better Health And A Harmonious Body' | translate}} <br> {{'Book Now With Us ' | translate}}</h3>
    <p>{{'Get ready for your fitness and move forward' | translate}}</p>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="button">
                    <button><a href="#">{{'about us' | translate}} </a></button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<!-- aboutus -->
<div class="about-us">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="../../assets//images/17.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h2> {{'Very professional.' | translate}}</h2>
                <p>{{'And we all love what we do.' | translate}}</p>
                <span>
                    {{'aboutustext' | translate}} </span>
                <ul>
                    <li>
                        <span>{{'Aliquam fermentum lorem quis posuere mattis.' | translate}}</span>
                    </li>
                    <li>
                        <span>{{'Sed mollis sapien erat id pellentesque libero.' | translate}}</span>
                    </li>
                    <li>
                        <span> {{'Pellentesque nisl id semper bibendum.' | translate}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h2> {{'The path of a thousand miles begins with a step ' | translate}} </h2>
                <p>{{'And we all love what we do.' | translate}}</p>

                <span>
                    {{'aboutustext' | translate}}
                 </span>
                <ul>
                    <li>
                        <span>{{'Aliquam fermentum lorem quis posuere mattis.' | translate}}</span>
                    </li>
                    <li>
                        <span>{{'Sed mollis sapien erat id pellentesque libero.' | translate}}</span>
                    </li>
                    <li>
                        <span>{{'Pellentesque nisl id semper bibendum.' | translate}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <img src="../../assets//images/18.jpg">
            </div>
        </div>
    </div>

</div>


<!-- our offers -->

<section class="our-offers work-section pb-70">
    <div class="container text-center">
        <div class="col-lg-12 col-md-12 text-center">
            <div class="text">
                <h2> {{'our offers' | translate}}</h2>
                <div class="line">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="work-item">
                    <div class="work-image"><img src="../../assets/images/13.jpg" alt="image"></div>
                    <div class="work-content">
                        <h3>{{'our offers' | translate}}</h3>
                        <p> {{'List of our great services along with prices' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="work-item">
                    <div class="work-image"><img src="../../assets/images/12.jpg" alt="image"></div>
                    <div class="work-content">
                        <h3> {{'Great Service' | translate}}</h3>
                        <p>
                            {{'List of our great services along with prices' | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="work-item">
                    <div class="work-image"><img src="../../assets/images/14.jpg" alt="image"></div>
                    <div class="work-content">
                        <h3> {{'Perfect weight' | translate}}</h3>
                        <p>
                            {{'List of our great services along with prices' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- map google and contact information -->


<div class="container contact">
    <div class="col-lg-12 col-md-12 col-12">
        <h2> {{'our deriction' | translate}}</h2>
        <div class="line">
            <span></span>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12-col-12 {{'text'|translate}}">
            <div class="des">
                <h3> {{'Contact Information' | translate}}</h3>
                <span> {{'Our contact details:' | translate}}</span><br>

                <ul>
                    <li><i class="fa fa-home "></i>
                        <span class="icon-list-text"> {{'Manchester St 123-78B, Random 713, UK' | translate}}</span>
                    </li>
                    <li>
                        <i class="fa fa fa-phone bg-color-accent "></i>
                        <span class="icon-list-text">+46 123 456 789</span>
                    </li>
                    <li>
                        <i class="fa fa fa-headphones bg-color-accent "></i>
                        <span class="icon-list-text">+37 431 456 789</span>
                    </li>

                    <li>
                        <i class="fa fa-envelope "></i>
                        <span class="icon-list-text">hello@sitename.com</span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="map">
                <div class="col-lg-6 col-md-6  col-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d151986.00551832028!2d-2.3635468163884465!3d53.47236790481593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a4d4c5226f5db%3A0xd9be143804fe6baa!2sManchester%2C%20UK!5e0!3m2!1sen!2seg!4v1581266741249!5m2!1sen!2seg"
                        frameborder="0" style="border:0; " allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>