<!-- background -->
<div class="bg">
    <h2>goldes gym for your health and Your fitness</h2>
    <h3>For Better Health And A Harmonious Body <br> Book Now With Us</h3>
    <p>Get ready for your fitness and move forward</p>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="button">
                    <button><a href="#">about us </a></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- aboutus -->
<div class="about-us">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="../../assets//images/17.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h2>Very professional.</h2>
                <p>And we all love what we do.</p>
                <span>
                    We have been operating for over 30 years and are Members of The Federation of Master Builders. We
                    work on projects big and small from small residential extensions to full house. We are so happy with
                    this theme. Everyday it make our lives better.
                </span>
                <ul>
                    <li>
                        <span>Aliquam fermentum lorem quis posuere mattis.</span>
                    </li>
                    <li>
                        <span>Sed mollis sapien erat id pellentesque libero.</span>
                    </li>
                    <li>
                        <span>Pellentesque nisl id semper bibendum.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>The path of a thousand miles begins with a step </h2>
                <p>And we all love what we do.</p>

                <span>
                    We have been operating for over 30 years and are Members of The Federation of Master Builders. We
                    work on projects big and small from small residential extensions to full house. We are so happy with
                    this theme. Everyday it make our lives better.
                </span>
                <ul>
                    <li>
                        <span>Aliquam fermentum lorem quis posuere mattis.</span>
                    </li>
                    <li>
                        <span>Sed mollis sapien erat id pellentesque libero.</span>
                    </li>
                    <li>
                        <span>Pellentesque nisl id semper bibendum.</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <img src="../../assets//images/18.jpg">
            </div>
        </div>
    </div>

</div>

<!-- clients review  -->

<div class="container our-offers">
    <div class="col-lg-12 col-md-12 text-center">
        <div class="text">
            <p>our offers</p>
            <div class="line">
                <span></span>
            </div>
            
            <span>
                List of our great services along with prices.
            </span>
        </div>
    </div>

    <div class="row text-center prices">

        <div class="col-lg-4 col-md-4 col-12  box ">
            <div class="card" style="width: 22rem;">
                <p>Great Service</p>
                <h2>$15</h2>
                <Span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</Span>
                </div>
        </div>


        <div class="col-lg-4 col-md-4 col-12 box ">
            <div class="card" style="width: 22rem;">
                
                <p>fitness</p>
                <h2>$16</h2>
                <span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</span>
                
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-12 box ">
            <div class="card" style="width: 22rem;">
                <p>Physical stomach
                </p>
                <h2>$12</h2>
                <span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</span>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-12 box ">
            <div class="card" style="width: 22rem;">
                <p>Speed
                </p>
                <h2>$24</h2>
                <span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</span>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-12 box  ">
            <div class="card" style="width: 22rem;">
                <p>anatomy
                </p>
                <h2>$29</h2>
                <span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</span>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12 box ">
            <div class="card" style="width: 22rem;">
                <p>magnification
                </p>
                <h2>$25</h2>
                <span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</span>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-12 box ">
            <div class="card" style="width: 22rem;">
                <p>Skills
                </p>
                <h2>$14</h2>
                <span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</span>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-12 box ">
            <div class="card" style="width: 22rem;">
                <p>Muscle drawing
                </p>
                <h2>$36</h2>
                <span>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.</span>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12 box ">
            <div class="card" style="width: 22rem;">
                <p>Perfect weight
                </p>
                <h2>$56</h2>
                <span>
                    Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque
                    pellentesque. Nunc feugiat felis vitae.

                </span>
            </div>
        </div>

    </div>
</div>

<!-- map google and contact information -->


<div class="container contact">
    <div class="col-lg-12 col-md-12 col-12">
        <p>our deriction</p>
        <div class="line">
            <span></span>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12-col-12">
            <div class="des">
                <h3>Contact Information</h3>
                <p>
                    I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <span>Our contact details:</span><br>

                <ul>
                    <li><i class="fa fa-home fa-2x"></i>
                        <span class="icon-list-text">Manchester St 123-78B, Random 713, UK</span>
                    </li>
                    <li>
                        <i class="fa fa fa-phone bg-color-accent fa-2x"></i>
                        <span class="icon-list-text">+46 123 456 789</span>
                    </li>
                    <li>
                        <i class="fa fa fa-headphones bg-color-accent fa-2x"></i>
                        <span class="icon-list-text">+37 431 456 789</span>
                    </li>

                    <li>
                        <i class="fa fa-envelope fa-2x"></i>
                        <span class="icon-list-text">hello@sitename.com</span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="map">
                <div class="col-lg-6 col-md-6  col-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d151986.00551832028!2d-2.3635468163884465!3d53.47236790481593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a4d4c5226f5db%3A0xd9be143804fe6baa!2sManchester%2C%20UK!5e0!3m2!1sen!2seg!4v1581266741249!5m2!1sen!2seg"
                        frameborder="0" style="border:0; " allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>