<!-- background -->
<div class="bg">
    <div class="overlay">
        <h2>{{'goldes gym for your health and Your fitness'|translate}}</h2>
        <h3>{{'For Better Health And A Harmonious Body' | translate}} <br> {{'Book Now With Us' | translate}}</h3>
        <p>{{'productp' | translate}}</p>

        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="button">
                        <button><a href="#">{{'about' | translate}} </a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- carousel -->

<div class="container " style="direction: ltr;">
    <h2>{{'Some Of Our Products' | translate}}</h2>
    <div class="line">
        <span></span>
    </div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
</div>

<!-- some products -->

<h2>{{'We have The Best products'|translate}}</h2>
<div class="line">
    <span></span>
</div>
<div class="shop ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="shop-item">
                    <div class="item-img">
                        <img class="img-fluid" src="assets/images/45.jpg" alt="01 Shop">
                        <div class="add-to-card">
                            <a href="#" class="btn-4">{{"Add To Card" | translate}}</a>
                        </div>
                    </div>
                    <div class="item-text text-center">
                        <span>$20.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="shop-item">
                    <div class="item-img">
                        <img class="img-fluid" src="assets/images/46.jpg" alt="01 Shop">
                        <div class="add-to-card">
                            <a href="#" class="btn-4">{{"Add To Card" | translate}}</a>
                        </div>
                    </div>
                    <div class="item-text text-center">
                        <span>$16.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="shop-item">
                    <div class="item-img">
                        <img class="img-fluid" src="assets/images/47.jpg" alt="01 Shop">
                        <div class="add-to-card">
                            <a href="#" class="btn-4">{{"Add To Card" | translate}}</a>
                        </div>
                    </div>
                    <div class="item-text text-center">
                        <span>$14.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="shop-item">
                    <div class="item-img">
                        <img class="img-fluid" src="assets/images/41.jpg" alt="01 Shop">
                        <div class="add-to-card">
                            <a href="#" class="btn-4">{{"Add To Card" | translate}}</a>
                        </div>
                    </div>
                    <div class="item-text text-center">
                        <span>$21.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="shop-item">
                    <div class="item-img">
                        <img class="img-fluid" src="assets/images/49.jpg" alt="01 Shop">
                        <div class="add-to-card">
                            <a href="#" class="btn-4">{{"Add To Card" | translate}}</a>
                        </div>
                    </div>
                    <div class="item-text text-center">
                        <span>$15.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="shop-item">
                    <div class="item-img">
                        <img class="img-fluid" src="assets/images/50.jpg" alt="01 Shop">
                        <div class="add-to-card">
                            <a href="#" class="btn-4">{{"Add To Card" | translate}}</a>
                        </div>
                    </div>
                    <div class="item-text text-center">
                        <span>$23.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- whatwedo -->
<div class="whatwedo">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="../../assets//images/8.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h2>{{'Unique thought'|translate}}.</h2>
                <p>{{'And we all love what we do'|translate}}.</p>
                <span>
                    {{'whatdotext'|translate}}.
                </span>
                <ul>
                    <li>
                        <span>{{'Aliquam fermentum lorem quis posuere mattis' | translate}}.</span>
                    </li>
                    <li>
                        <span>{{'Sed mollis sapien erat id pellentesque libero' | translate}}.</span>
                    </li>
                    <li>
                        <span>{{'Pellentesque nisl id semper bibendum' | translate}}.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>{{'We stand next to you step by step' | translate}} </h2>
                <p>{{'And we all love what we do'|translate}}</p>

                <span>
                    {{'whatdotext'|translate}}.                </span>
                <ul>
                    <li>
                        <span>{{'Aliquam fermentum lorem quis posuere mattis' | translate}}.</span>
                    </li>
                    <li>
                        <span>{{'Sed mollis sapien erat id pellentesque libero' | translate}}.</span>
                    </li>
                    <li>
                        <span>{{'Pellentesque nisl id semper bibendum' | translate}}.</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <img src="../../assets/images/35.jpg">
            </div>
        </div>
    </div>

</div>
<!-- sign up form -->

<div class="container">
    <h2>{{'sign up for more offers' | translate}}</h2>
    <div class="line">
        <span></span>
    </div>
    <div class="row">
        <div class="form {{'form' | translate}} col-lg-8 col-md-12 col-sm-12 col-12">
            <form [formGroup]="Userform" (submit)="signup(Userform)">
                <div class="row">
                    <div class="form-group col-md-6 col-12">
                        <label for="name">{{'yourname' | translate}}</label>
                        <input name="name" formControlName="name" type="text" class="form-control" id="yourname "
                            placeholder="{{'yourname' | translate}}">
                        <div class="alert alert-danger alertemail "
                            *ngIf="Userform.controls.name.errors?.pattern && Userform.controls.name.touched">
                            {{"only accept letter"}}
                        </div>
                        <div class="alert alert-danger alertemail "
                            *ngIf="Userform.controls.name.errors?.required && Userform.controls.name.touched">
                            {{'input is required' | translate}}
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="email">{{'email' | translate}}</label>
                        <input name="email" formControlName="email" type="email" class="form-control" id="inputEmail4"
                            placeholder="{{'email' | translate}}">
                        <div class="alert alert-danger alertemail"
                            *ngIf="Userform.controls.email.touched && Userform.controls.email.errors?.required">
                            {{'input is required' | translate}}</div>
                        <div class="alert alert-danger alertemail "
                            *ngIf="Userform.controls.email.touched && Userform.controls.email.errors?.pattern">
                            {{'email formatat is wrong' | translate}}</div>


                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label for="inputPassword4">{{'password' | translate}}</label>
                        <input name="password" formControlName="password" type="password" class="form-control"
                            id="inputPassword4" placeholder="{{'password' | translate}}">
                        <div class="alert alert-danger "
                            *ngIf="Userform.controls.password.touched && Userform.controls.password.errors?.required">
                            {{'input is required' | translate}} </div>
                        <div class="alert alert-danger "
                            *ngIf="Userform.controls.password.touched && Userform.controls.password.errors?.email">
                            {{"password should be 6+ charchters" | translate}}</div>

                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label class="inputpass" for="inputAddress"> {{'passwordconfirm' | translate}}</label>
                        <input name="passwordconfirm" formControlName="passwordconfirm" type="password"
                            class="form-control" id="inputpasswordconfirm"
                            placeholder="{{'passwordconfirm' | translate}} ">
                        <div class="alert alert-danger alertpass "
                            *ngIf="Userform.controls.passwordconfirm.invalid && Userform.controls.passwordconfirm.touched">
                            {{'input is required' | translate}}</div>
                        <div class="alert alert-danger alertpass"
                            *ngIf="Userform.controls.passwordconfirm.value !==  Userform.controls.password.value && Userform.controls.passwordconfirm.touched">
                            {{"password don't match"|translate}}</div>

                    </div>
                    <div class="form-group  col-12">
                        <label for="inputAddress2">{{'address' | translate}} </label>
                        <input name="address" formControlName="address" type="text" class="form-control"
                            id="inputAddress2" placeholder="{{'address' | translate}}">
                        <div class="alert alert-danger alertadd "
                            *ngIf="Userform.controls.address.invalid && Userform.controls.address.touched">
                            {{'input is required' | translate}}</div>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary "
                        [disabled]="Userform.invalid || Userform.controls.passwordconfirm.value !== Userform.controls.password.value">{{'SignUp'|translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>