.bg{

    background-image: url(../../assets/images/16.jpg);
    background-size: cover;

}


.bg h2 {

	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	font-family: tahoma;
	padding-top: 200px;
	text-align: center;
	color: white;
	margin-bottom: 12px;
	z-index: 9999
}

/*text*/
.bg h3 {

	font-size: 44px;
	font-weight: 540;
	text-transform: capitalize;
	font-family: tahoma;
	text-align: center;
	color: white;
	line-height: 1.5;
	margin-bottom: 24px
}

/*text*/
.bg  p {

	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	padding-bottom: 40px;
	font-family: sans-serif;
	text-align: center;
	color: white;
}

.button button{
 
    height: 45px;
	width: 150px;
	margin-bottom: 155px;
	background-color: goldenrod;
	border: none;
	outline: none;
	font-size: 15px;
	font-weight: 600;
	text-transform: capitalize;
	font-family: sans-serif;
	color: white;
	text-decoration-line: none

}
.button button:hover{

	background-color: white;
	transition: 1s;
}

.button button a{

    color: black;
    text-decoration: none;
}

/* carousel */
h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    padding-top: 50px;
	font-weight: bold;
	font-family: cairo;
}

.line{

	height: 5px;
	width: 150px;
	background: gray;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
}

.line span{

	height: 5px;
	width: 80px;
	background: goldenrod;
	position: absolute;
	border-radius: 10px;
	left: 35px;


}
.all{

    margin-top: 50px;
    margin-bottom: 100px;
    outline: none;
    border: none;
}
.all img{

    height: 400px;
    width: 100%;
   
}
@media (max-width:991px){

    .all img{

        height: 300px;
        width: 400px;
    }



}

/* whatwedo */

.whatwedo .whatwedo-item{
    margin-bottom: 30px;
    position: relative;
}
.whatwedo .whatwedo-item .img-box{
    overflow: hidden;
}
.whatwedo .whatwedo-item:hover .img-box img{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
.whatwedo .whatwedo-item .text-box{
    padding: 0 15px;
}
.whatwedo .whatwedo-item .text-box{
    position: absolute;
    background-color:goldenrod;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.whatwedo .whatwedo-item:hover .text-box{
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}
.whatwedo .whatwedo-item .text-box .box{
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
    text-align: center;
}
.whatwedo .whatwedo-item:hover .text-box .box{
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.whatwedo .whatwedo-item .text-box h5{
    color: #222;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: .3px;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 25px;
}
.whatwedo .whatwedo-item .text-box span{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px;
    color: goldenrod;
    display: inline-block;
}
.whatwedo .whatwedo-item .text-box ul {
    justify-content: center;
    width: 100%;
    padding: 0px;
}
.whatwedo .whatwedo-item .text-box ul li{
    display: inline-block;
    padding: 0px 5px;
}
/* .whatwedo .whatwedo-item .text-box ul li:last-of-type{
    margin-right: 0;
} */
.whatwedo .whatwedo-item .text-box ul li a{
    color: #222;
    font-size: 16px;
}
.whatwedo .whatwedo-item .text-box ul li:hover a{
    color: goldenrod;
}
.whatwedo .whatwedo-item .text-box h5,
.whatwedo .whatwedo-item .text-box span,
.whatwedo .whatwedo-item .text-box p,
.whatwedo .whatwedo-item .text-box ul li a{
    color: #FFF;
}
.whatwedo .whatwedo-item .text-box ul li:hover a{
    color: #222;
}

.whatwedo img{
 
	height: 300px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;

}

/* ourwork */
.ourwork img{

    height: 500px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.ourwork h2 {

	margin-top: 130px;
	color: #253048;
	font-size: 36px;
	opacity: 1;
	visibility: visible;
}

.ourwork p {

	font-family: cairo;
	color: #c1ab84;
	font-size: 1.3rem
}

.ourwork span {

	color: #686868
}

.ourwork ul {

	list-style: none;
	margin-top: 50px
}

.ourwork li span {

	line-height: 2;
	margin-left: 10px
}
